.inputs-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 2rem auto;
    border: 2px solid transparent;
    border-radius: 12px;
  }

  .sets-reps-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 0 auto;
  }

  .exercise-input, .sets-input, .reps-input {
    border-radius: 8px;
    border: 5px solid transparent;
    font-size: 1.3rem;
    padding: 1rem;
    height: 20px;
    transition: all 0.3s;
    color: #585858;
  }

  .exercise-input:focus, .sets-input:focus, .reps-input:focus {
    outline: none;
    border: 5px solid #48a648;
  }

  .exercise-input {
    width: 80%;
    margin-bottom: 1rem;
  }

  .sets-input, .reps-input {
    width: 25%;
  }

  .reps-input { 
    margin-left: 1rem;
  }

  .submit-btn {
    margin-left: .2rem;
    background: transparent;
    border: none;
    font-size: 2.7rem;
    display: flex;
    color: rgb(72, 166, 72);
    transition: all 0.3s;
    cursor: pointer;
  }

  .submit-btn:hover {
    color: rgb(58, 134, 58);
  }

  .update-btn, .cancel-btn {
    margin-left: .5rem;
    background: rgb(89, 120, 208);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    padding: .4rem;
    transition: all 0.3s;
    cursor: pointer;
  }

  .update-btn:hover {
    color: white;
    background: rgb(65, 89, 154);
  }

  .cancel-btn {
    background: rgb(231, 81, 81);
  }

  .cancel-btn:hover {
    background: rgb(177, 60, 60);
  }
  
  .exercise-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    border: 2px solid transparent;
  }

  .exercise {
    display: flex;
    width: 55%;
    justify-content: space-between;
    align-items: center;
    padding: .2rem;
    margin: .25rem 0 .25rem 1rem;
    border: 2px solid transparent;
    border-radius: 12px;
    background-color: rgb(58, 134, 58);
    transition: all 0.3s;
  }

  .input-checkbox {
    margin: 0 .8rem;
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
  }

  .selected {
    border: 2px solid white;
  }

  .finished {
    background-color: rgb(93, 99, 93);
  }

  .stats {
    display: flex;
  }

  .sets-number {
    color: white;
    font-size: 1.4rem;
    padding: .3rem;
    border-radius: 8px;
  }

  .weights-number {
    color: white;
    font-size: 1.4rem;
    padding: .3em;
    margin-right: 1rem;
    border-radius: 8px;
  }

  .exercise-name {
    color: white;
    font-size: 1.4rem;
    padding: .4rem;
  }

  .sets-number {
    transition: all 0.3s;
  }

  .weights-number {
    margin-left: .5rem;
    transition: all 0.3s;
    font-weight: bold;
  }

  .controls {
    background-color: rgba(136, 151, 136, 0.5);
    padding: .5rem;
    margin: 0 .8rem;
    border-radius: 8px;
  }

  .edit-btn, .delete-btn {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1.5rem;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
  }

  .edit-btn:hover, .delete-btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .save-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto 2rem auto;
    padding: 1rem;
    max-width: 100%;
  }

  .save-input {
    border-radius: 8px;
    outline: none;
    border: 2px solid transparent;
    font-size: 1.3rem;
    padding: 0.8rem;
    height: 15px;
    transition: all 0.3s;
    color: #585858;
  }

  .save-input:focus {
    border-radius: 8px;
    border: 2px solid rgb(112, 112, 112);
    font-size: 1.3rem;
    padding: 0.8rem;
    height: 15px;
    transition: all 0.3s;
    color: #585858;
  }

  .save-btn {
    margin-left: .2rem;
    background: transparent;
    border: none;
    font-size: 2.2rem;
    display: flex;
    color: rgb(112, 112, 112);
    transition: all 0.3s;
    cursor: pointer;
  }

  .save-btn:hover {
    color: rgb(58, 134, 58);
  }

  .selector-container {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    padding: .5rem;
  }

  .selector-container .delete-btn {
    margin-left: .3rem;
    margin-bottom: -.2rem;
  }

  .list-selector {
    margin-left: 1rem;
    width: 100px;
    height: 30px;
    border-radius: 8px;
  }

  @media all and (max-width: 500px) {
    .inputs-container {
      width: 100%;
      min-width: 350px;
      padding: .5rem;
      margin: 1rem 0;
      display: flex;
    }
  
    .sets-reps-container {
      width: 90%;
      display: flex;
      gap: .25rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: .2rem;
      padding: 0;
    }
  
    .exercise-input, .sets-input, .reps-input {
      border: 2px solid transparent;
      font-size: .8rem;
      padding: 1.2rem .3rem;
    }

    .sets-input, .reps-input {
      font-size: .8rem;
      padding: 1.2rem .3rem;
    }
  
    .exercise-input:focus, .sets-input:focus, .reps-input:focus {
      border: 2px solid #48a648;
    }
  
    .exercise-input {
      width: 90%;
      margin-bottom: .5rem;
    }
  
    .sets-input, .reps-input {
      width: 130px;
    }
  
    .reps-input { 
      margin-left: 0;
    }
  
    .submit-btn {
      margin-left: 0;
      font-size: 2.4rem;
    }

    .update-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      justify-content: flex-end;
      margin: .5rem 0 0 0;
      padding: 0;
    }

    .edit-btn-wrapper {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      margin: -1rem .5rem 0 0;
      padding: 0;
    }
  
    .update-btn, .cancel-btn {
      margin: 0 .2rem;
      font-size: .8rem;
      padding: .15rem;
      border-radius: 4px;
    }
    
    .exercise-list {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid transparent;
      padding: 0 .8rem;
      margin: 1rem 0;
      width: 100%;
      min-width: 350px;
    }
  
    .exercise {
      display: flex;
      width: 100%;
      padding: .5rem;
      margin: 0 .3rem;
    }
  
    .stats {
      display: flex;
    }
  
    .sets-number {
      font-size: .9rem;
      padding: .35rem;
      border-radius: 8px;
    }
  
    .weights-number {
      font-size: .9rem;
      padding: .35em;
      margin-right: 1rem;
      border-radius: 8px;
    }
  
    .exercise-name {
      font-size: .9rem;
      padding: .35rem;
    }
  
    .weights-number {
      margin-left: .5rem;
      font-weight: bold;
    }

    .input-checkbox {
      width: 18px;
      padding: 0;
    }
  
    .controls {
      padding: .2rem;
      margin: 0 .1rem;
      display: flex;
      flex-direction: column;
      height: 50px;
      background: none;
    }
  
    .edit-btn, .delete-btn {
      font-size: 1.1rem;
    }
  
    .save-container {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;
      margin: 1rem 1.4rem;
      padding: 0;
    }
  
    .save-input {
      font-size: 1rem;
    }
  
    .save-input:focus {
      font-size: 1rem;
    }
  
    .save-btn {
      font-size: 2rem;
    }
  
    .save-btn:hover {
      color: rgb(58, 134, 58);
    }
  
    .selector-container {
      padding: 0;
      margin: .5rem 0;
    }
  
    .selector-container .delete-btn {
      margin-left: .3rem;
      margin-bottom: -.2rem;
    }
  
    .list-selector {
      margin-left: 0;
    }
  }