.inputs-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    max-width: 900px;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 2rem auto;
    border: 2px solid transparent;
    border-radius: 12px;
  }

  .sets-reps-container {
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: -.5rem auto;
  }

  .exercise-input, .sets-input, .reps-input {
    border-radius: 8px;
    border: 5px solid transparent;
    font-size: 1.3rem;
    padding: 1rem;
    height: 20px;
    transition: all 0.3s;
    color: #585858;
  }

  .exercise-input:focus, .sets-input:focus, .reps-input:focus {
    outline: none;
    border: 5px solid #48a648;
  }

  .exercise-input {
    width: 80%;
    margin-bottom: 1rem;
  }

  .sets-input, .reps-input {
    width: 25%;
  }

  .reps-input { 
    margin-left: 1rem;
  }

  .submit-btn {
    margin-left: .2rem;
    background: transparent;
    border: none;
    font-size: 2.7rem;
    display: flex;
    color: rgb(72, 166, 72);
    transition: all 0.3s;
    cursor: pointer;
  }

  .submit-btn:hover {
    color: rgb(58, 134, 58);
  }

  .update-btn, .cancel-btn, .load-btn, .download-btn, .clear-btn {
    margin-left: .5rem;
    background: rgb(89, 120, 208);
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1.2rem;
    color: white;
    padding: .4rem;
    transition: all 0.3s;
    cursor: pointer;
  }

  .update-btn:hover, .load-btn:hover, .download-btn:hover {
    color: white;
    background: rgb(65, 89, 154);
  }

  .cancel-btn, .clear-btn {
    background: rgb(231, 81, 81);
  }

  .cancel-btn:hover, .clear-btn:hover {
    background: rgb(177, 60, 60);
  }
  
  .exercise-list {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    border: 2px solid transparent;
  }

  .exercise {
    display: flex;
    width: 40%;
    max-width: 550px;
    min-width: 450px;
    justify-content: space-between;
    align-items: center;
    padding: .25rem;
    margin: .3rem 0 0 1rem;
    border: 2px solid transparent;
    border-right: 4px solid rgba(196, 251, 190, 0.8);
    border-radius: 8px 0 0 8px;
    background-color: rgb(58, 134, 58);
    transition: all 0.3s;
  }

  .input-checkbox {
    margin: 0 .8rem;
    width: 1.35rem;
    height: 1.35rem;
    border-radius: 8px;
    border: 2px solid transparent;
    transition: all 0.3s;
    cursor: pointer;
  }

  .selected {
    border: 2px solid white;
  }

  .finished {
    background-color: rgb(93, 99, 93);
  }

  .stats {
    display: flex;
    align-items: center;
  }

  .sets-number {
    color: rgb(255, 255, 255);
    font-size: 1.3rem;
    padding: .2rem;
    border: 2px outset rgb(255, 255, 255, 0.15);
    background-color: rgb(255, 255, 255, 0.15);
  }

  .weights-number {
    color: white;
    font-size: 1.4rem;
    padding: .3em;
    margin-right: 1rem;
    border-radius: 8px;
    border: 2px dashed rgb(255, 255, 255, 0.3);
    background-color: rgba(74, 74, 74, 0.5);
  }

  .exercise-name {
    color: white;
    font-size: 1.4rem;
    padding: .4rem;
  }

  .sets-number {
    transition: all 0.3s;
  }

  .weights-number {
    margin-left: .5rem;
    transition: all 0.3s;
    font-weight: bold;
  }

  .controls {
    background-color: rgba(136, 151, 136, 0.5);
    padding: .5rem;
    margin: 0 .8rem;
    border-radius: 8px;
  }

  .edit-btn, .delete-btn {
    background: transparent;
    border: 2px solid transparent;
    border-radius: 8px;
    font-size: 1.5rem;
    color: white;
    transition: all 0.3s;
    cursor: pointer;
  }

  .edit-btn:hover, .delete-btn:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }

  .save-container {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    margin: 1rem auto 2rem auto;
    padding: 1rem;
    max-width: 25%;
  }

  .save-input {
    border-radius: 8px;
    outline: none;
    border: 4px solid transparent;
    font-size: 1.3rem;
    padding: .5rem;
    width: 100%;
    transition: all 0.3s;
    color: #797979;
  }

  .save-input:focus {
    border-radius: 8px;
    border: 4px solid rgb(112, 112, 112);
  }

  .save-controls {
    display: flex;
    margin-top: .5rem;
    height: 40px;
  }

  .no-exercises {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: -3rem auto;
    padding: 2rem;
    width: 50%;
    border-radius: 16px;
    background-color: rgba(0, 0, 0, 0.15);
  }

  .no-exercises p {
    color: white;
    font-size: 1.7rem;
    margin-bottom: -1rem;
  }

  .no-exercises p:last-child {
    color: rgb(216, 216, 216);
    font-size: 1.4rem;
    margin-bottom: 0;
  }

  @media all and (max-width: 580px) {
    .inputs-container {
      width: 100%;
      min-width: 350px;
      padding: .5rem;
      margin: 1rem 0;
      display: flex;
    }
  
    .sets-reps-container {
      width: 90%;
      display: flex;
      gap: .25rem;
      flex-direction: row;
      align-items: center;
      justify-content: space-around;
      margin: 0;
      padding: 0;
    }
  
    .exercise-input, .sets-input, .reps-input {
      border: 2px solid transparent;
      font-size: .8rem;
      padding: 1.2rem .3rem;
    }

    .sets-input, .reps-input {
      font-size: .8rem;
      padding: 1.2rem .3rem;
    }
  
    .exercise-input:focus, .sets-input:focus, .reps-input:focus {
      border: 2px solid #48a648;
    }
  
    .exercise-input {
      width: 90%;
      margin-bottom: .5rem;
    }
  
    .sets-input, .reps-input {
      width: 130px;
    }
  
    .reps-input { 
      margin-left: 0;
    }
  
    .submit-btn {
      margin-left: 0;
      font-size: 2.4rem;
    }

    .update-btn-wrapper {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      justify-content: flex-end;
      margin: .5rem 0 0 0;
      padding: 0;
    }

    .edit-btn-wrapper {
      width: 40%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      justify-content: center;
      margin: -1rem .5rem 0 0;
      padding: 0;
    }
  
    .update-btn, .cancel-btn, .load-btn, .download-btn, .clear-btn {
      margin: 0;
      font-size: .8rem;
      padding: .15rem;
      border-radius: 4px;
    }
    
    .exercise-list {
      display: flex;
      justify-content: center;
      align-items: center;
      border: 2px solid transparent;
      padding: 0 1rem;
      margin: 0;
      width: 100%;
      min-width: 350px;
    }
  
    .exercise {
      display: flex;
      width: 80%;
      min-width: 280px;
      padding: .5rem;
      margin: 0 .3rem;
    }
  
    .stats {
      display: flex;
    }
  
    .sets-number {
      font-size: .9rem;
      padding: .35rem;
      border-radius: 8px;
    }
  
    .weights-number {
      font-size: .9rem;
      padding: .35em;
      margin-right: 1rem;
      border-radius: 8px;
    }
  
    .exercise-name {
      font-size: .9rem;
      padding: .35rem;
    }
  
    .weights-number {
      margin-left: .5rem;
      font-weight: bold;
    }

    .input-checkbox {
      width: 18px;
      padding: 0;
      margin: 0;
    }
  
    .controls {
      padding: .2rem;
      margin: 0 .1rem;
      display: flex;
      flex-direction: column;
      height: 50px;
      background: none;
    }
  
    .edit-btn, .delete-btn {
      font-size: 1.1rem;
    }
  
    .save-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin: 0 auto;
      padding: 1rem;
      max-width: 50%;
      min-width: 350px;
    }
  
    .save-input {
      border-radius: 8px;
      outline: none;
      border: 4px solid transparent;
      font-size: .8rem;
      padding: .5rem;
      margin: .5rem -.5rem;
      width: 60%;
    }
  
    .save-input:focus {
      border-radius: 8px;
      border: 4px solid rgb(112, 112, 112);
    }
  
    .save-controls {
      display: flex;
      margin-top: 0;
      height: 30px;
    }

    
    .load-btn, .download-btn, .clear-btn {
      margin: 0 .15rem;
    }

    .no-exercises {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin: -2rem auto;
      padding: 2rem;
      width: 90%;
      border-radius: 16px;
      background-color: rgba(0, 0, 0, 0.15);
    }
  
    .no-exercises p {
      color: white;
      font-size: 1.2rem;
      margin-bottom: -.5rem;
    }
  
    .no-exercises p:last-child {
      color: rgb(216, 216, 216);
      font-size: 1rem;
      margin-bottom: .5rem;
    }

  }