.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto -2rem auto;
}

.header-logo {
    height: 250px;
    width: 250px;
}

@media all and (max-width: 500px) {

    .header-container {
        margin: 0 auto -3rem auto;
    }

    
    .header-logo {
        height: 150px;
        width: 150px;
    }
}