.header-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2rem;
}

.title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: white;
    font-size: 3rem;
}

h5 {
    color: rgb(240, 240, 240);
}