@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto Condensed', sans-serif;
}

:root {
  --animate-duration: 950ms;
  --animate-delay: 1.2s;
}

body {
  background: #2c2c2c;
  min-width: 350px;
} 
.app-container {
  padding: 4rem 2rem;
  box-sizing: border-box;
}

::placeholder { 
  color: #585858;
  opacity: 1;
}

:-ms-input-placeholder {
  color: #585858;
}

::-ms-input-placeholder {
  color: #585858;
}

.save-input::placeholder {
  color: #585858;
  opacity: 1;
}

.save-input:-ms-input-placeholder {
  color: #585858;
}

.save-input::-ms-input-placeholder {
  color: #585858;
}

button {
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}